<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <script data-require="angular.js@1.4.x" src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>
    <script src="app.js"></script>
  </head>

  <body ng-app="myApp" ng-controller="mainCtrl">
  <div>
    login form = {{loginForm}} <br>
    building form = {{buildingForm}} <br>
    project form = {{projectForm}} <br>
    directory form = {{directoryForm}}
  </div> 
    <br>
    <div id="login_container"  ng-show="loginForm">
      
      <form id="login_form">
        
        <p>Username:</p>
          <input type="text" class="input_field" id="username" ng-model="input_username">
        
        <br />
        <br />
        
        <p>Password:</p>
          <input type="password" class="input_field" id="password" ng-model="input_password"> 

        <br />
        <br />
                   
        <input type="submit" class="submit_button" value="Login" ng-click="checkLogin()">
        <input type="submit" class="submit_button" value="Cancel" ng-click="cancelLogin()">

        <br />
        <br />

        <p ng-bind="feedback"></p>


      </form>
      
    </div>
  <br>
  <br>
    
    <div id="directory_container"  ng-show="directoryForm">
      
      <form id="login_form">
        
        <p>Building Name:</p>
          <input type="text" class="input_field" id="building_name" ng-model="input_username">
        
        <br />
        <br />
        
        <p>Project Name:</p>
          <input type="text" class="input_field" id="project_name" ng-model="input_password"> 

        <br />
        <br />
                   
        <input type="submit" class="submit_button" value="Projects" ng-click="projectButton()">
        <input type="submit" class="submit_button" value="Buildings" ng-click="buildingButton()">
        <input type="submit" class="submit_button" value="Logout" ng-click="logoutButton()">
        <br />
        <br />


      </form>
      
    </div>
    
    <br>
  <br>
    
    <div id="project_container" ng-show="projectForm">
      
      <form id="login_form">
        
        <p>Project Name:</p>
          <input type="text" class="input_field" id="project_name" ng-model="input_username">
        
        <br />
        <br />
        
        <p>ID:</p>
          <input type="text" class="input_field" id="id" ng-model="input_password"> 

        <br />
        <br />
                   
        <input type="submit" class="submit_button" value="Directory" ng-click="directoryButton()">
        <input type="submit" class="submit_button" value="Buildings" ng-click="buildingButton()">
        <input type="submit" class="submit_button" value="Logout" ng-click="logoutButton()">
        <br />
        <br />

      </form>
      
    </div>
    
    <br>
  <br>
    
    <div id="building_container"  ng-show="buildingForm">
      
      <form id="login_form">
        
        <p>Building Name:</p>
          <input type="text" class="input_field" id="building_name" ng-model="input_username">
        
        <br />
        <br />
        
        <p>Building Type:</p>
          <input type="text" class="input_field" id="buidling_type" ng-model="input_password"> 

        <br />
        <br />
                   
       <input type="submit" class="submit_button" value="Projects" ng-click="projectButton()">
      <input type="submit" class="submit_button" value="Directory" ng-click="directoryButton()">
      <input type="submit" class="submit_button" value="Logout" ng-click="logoutButton()">
        <br />
        <br />



      </form>
      
    </div>
    
    
  </body>

</html>
